/* Reset */

html, body, div, span, applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #1B1630;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** Styling ****/

a:hover {
	text-decoration: none;
}

.leaflet-sidebar .close {
	z-index: 9999;
}

#worldmap {
	height: 100vh;
}

.leaflet-popup-content {

}

.leaflet-popup-content p {
	margin-top: 0px;
	margin-bottom: 3px;
}

.leaflet-popup-content-wrapper {
	font-size: 12px;
}

.leaflet-popup-content-wrapper a {
	font-weight: bold;
}

.headtitle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 5px;
	padding-bottom: 0px;
}

.headsubtitle {
	font-weight: bold;
	font-size: 0.9em;
	color: #444;
	margin-top: 0px;
	margin-left: 5px;
}

.headvignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.3));
	z-index: -10000;
}

.popuptitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.leaflet-popup-tip-container {

}

.leaflet-popup-tip {

}

@keyframes fade {
	from { opacity: 0.3; }
}

.blinking {
	animation: 0.3s fade infinite alternate;
}

.arxivlink {
	font-weight: bold;
	font-size: 1.2em;
}

#sidebar > h1 {
	/*margin-bottom: 0px;*/
}

.authors {
	font-weight: bold;
	font-size: 0.9em;
	color: #444;
}

.affiliation {
	font-style: italic;
	font-size: 0.9em;
	color: #999;
}

#sidebar > .summary {
	font-size: 1.1em;
}
