/* Reset */

html, body, div, span, applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #1B1630;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* Scrollbar */

::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	/*background-color: #F5F5F5;*/
	background-color: rgba(245,245,245,0.7);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #BFBFC0;
}

/**** Styling ****/

a:hover {
	text-decoration: none;
}

.leaflet-sidebar .close {
	z-index: 9999;
}

#worldmap {
	height: 100vh;
}

.leaflet-popup-content {

}

.leaflet-popup-content p {
	margin-top: 0px;
	margin-bottom: 3px;
}

.leaflet-popup-content-wrapper {
	font-size: 12px;
}

.leaflet-popup-content-wrapper a {
	font-weight: bold;
}

.headtitle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 5px;
	padding-bottom: 0px;
}

.headsubtitle {
	font-weight: bold;
	font-size: 1.3em;
	color: #444;
	margin-top: 0px;
	margin-left: 5px;
}

.headvignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.3));
	z-index: -10000;
}

.headbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,1.0);
	z-index: -20000;
}

#nummatch {
	font-weight: bold;
	background-color: #E7DDE8;
}

#filter {
	min-width: 90px;
	font-weight: bold;
	color: #555;
}

#delete{

}

.popuptitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.leaflet-popup-tip-container {

}

.leaflet-popup-tip {

}

@keyframes fade {
	from { opacity: 0.3; }
}

.blinking {
	animation: 0.3s fade infinite alternate;
}

.filtertitle {
	margin-top: 10px;
	margin-bottom: -20px;
	font-weight: bold;
	font-size: 1.2em;
}

.filterpane {
	margin: 0 !important;
	overflow-y: auto;
	height: 80vh; /* use vh units */
}

.filter-group.nomatch {
	opacity: 0.7;
}

.filter-group.nomatch:hover {
	opacity: 1;
	transition: 0.2s;
}

.filterresult:hover{
	background-color: rgba(0,0,0,0.025);
	cursor: pointer;
}

.arxivlink {
	font-weight: bold;
	font-size: 1.2em;
}

.arxivlinksmall {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: -20px;
	color: #666;
}

#sidebar > h1 {
	/*margin-bottom: 0px;*/
}

.authors {
	font-weight: bold;
	font-size: 0.9em;
	color: #444;
}

.affiliation {
	font-style: italic;
	font-size: 0.9em;
	color: #999;
}

#sidebar > .summary {
	font-size: 1.1em;
}

.underline {
	text-decoration: underline;
	text-decoration-style: dotted;
}

.datecntrl {
	cursor: pointer;
}
